* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('images/bg_decor.png');
  background-repeat: no-repeat;
}

h1 {
  margin-top: 220px;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  color: #515076;
}

.product-card {
  display: flex;
}

ul.product-card {
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 85px;
  margin: 0px;
  margin-bottom: 116px;
}

.product-card__item {
  width: 340px;
  height: 573px;
  padding: 25px;
  margin: 45px;
  color: #515076;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background-color: white;
}

img {
  width: 290px;
  height: 245px;
  padding-bottom: 30px;
}

.product-card__kind {
  font-size: 12px;
  text-transform: uppercase;
  color: #A5A3B9;
}

h2 {
  font-size: 20px;
}

.product-card__description {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.product-card__compound {
  font-size: 13px;
  margin-bottom: 25px;
}

div.product-card__compound {
  line-height: 25px;
}

.product-card__compound ul {
  padding-left: 16px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}